@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#00c6ff, #0078ff);
}

.container {
  height: 480px;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.container .wrapper {
  display: flex;
  width: 1000px;
}
.container section {
  width: 500px;
  background: #fff;
}
.container.active {
  height: auto;
}
.container.active .audience {
  opacity: 1;
}
.container.active .post {
  margin-left: -500px;
}
.container .post {
  transition: margin-left 0.18s ease;
}
.container .audience {
  opacity: 0;
  transition: opacity 0.12s ease;
}

.post header {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 17px 0;
  border-bottom: 1px solid #bfbfbf;
}
.post form {
  margin: 20px 25px;
}
.post form img {
  max-width: 52px;
}
.post form :where(textarea, button) {
  width: 100%;
  outline: none;
  border: none;
}
.post form textarea {
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
.post form .content .details {
  margin: -3px 0 0 12px;
}

.post form :where(.content, .details .privacy),
.audience .list li .column {
  display: flex;
  align-items: center;
}

.post form :where(.theme-emoji, .options),
.audience .list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form button {
  height: 53px;
  cursor: no-drop;
  font-size: 18px;
  font-weight: 500;
  color: #bcc0c4;
  border-radius: 7px;
  background: #e2e5e9;
}
form textarea:valid ~ button {
  color: #fff;
  cursor: no-drop;
  background: #4599ff;
}
form .content .details p {
  font-size: 17px;
  font-weight: 500;
}
form .content .details .privacy {
  cursor: pointer;
  max-width: 98px;
  font-size: 11px;
  padding: 0 10px;
  margin-top: 3px;
  border-radius: 5px;
  background: #e4e6eb;
  justify-content: space-between;
}
form .theme-emoji img {
  cursor: pointer;
}
form .theme-emoji img:last-child {
  max-width: 24px;
}
form .options {
  height: 57px;
  border-radius: 7px;
  padding: 0 15px;
  margin: 15px 0;
  border: 2px solid #b9b9b9;
}
form .options p {
  color: #595959;
  font-size: 15px;
  font-weight: 500;
}
form .options .list li {
  list-style: none;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

form .options :where(.list, li),
.audience :where(.arrow-back, .icon, .radio) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options .list li:hover {
  background: #f0f1f4;
}
.options .list li img {
  cursor: pointer;
  width: 23px;
}

.details .privacy span {
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child {
  font-size: 13px;
  margin-left: 1px;
}

.audience header {
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.audience header p {
  font-size: 22px;
  font-weight: 600;
}
.audience header .arrow-back {
  position: absolute;
  left: 25px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: #747474;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audience header .arrow-back:hover {
  background: #e4e6eb;
}
.audience .content {
  margin: 20px 25px 0;
}
.audience .content p {
  font-size: 18px;
  font-weight: 600;
}
.audience .content span {
  font-size: 15px;
  color: #65676b;
}
.audience .list {
  margin: 15px 16px 20px;
}
.audience .list li {
  list-style: none;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  cursor: pointer;
}
.audience .list li:hover {
  background: #f0f1f4;
}
.audience .list li.active .radio:before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: inherit;
  background: #4599ff;
}
.audience .list li.active, .audience .list li.active:hover {
  background: #e5f1ff;
}
.audience .list li .column .icon {
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  background: #e4e6eb;
  border-radius: 50%;
}
.audience .list li .column .details {
  margin-left: 15px;
}
.audience .list li .radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
  margin-right: 10px;
}
.audience .list li.active .radio {
  border: 2px solid #4599ff;
}

.list li .column .details p {
  font-weight: 500;
}
.list li .column .details span {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
